* {
  font-family: sans-serif;
}

body {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100svh;
}

h1 {
  color: #333;
}

.tabs {
  display: flex;
  flex-direction: column;
}

.tabs__list {
  display: flex;
}

.tabs__panels {
  display: flex;
}

.tabs_tab {
  border: 1px solid #dcdcdc;
  border-bottom: none;
  color: #404040;
  padding: 0.75rem 2rem;
}

.tabs_tab.is-active {
  background-color: #dcdcdc;
}

.tabs_tab:hover {
  background-color: #ccc;
}

.tabs_panel {
  border: 1px solid #dcdcdc;
  color: #404040;
  flex: 1;
  padding: 1rem;
}

.is-hide {
  display: none;
}
